<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to AdmiTron5000, <%= @user.f_name %> <%= @user.l_name %></h1>
    <p>
      You have successfully signed up to <%= @course.subject %>. This course is from <%= @course.start_date %> to <%= @course.end_date %>.<br>
    </p>
    <p>  
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
     To change your password, please contact our administration office at 999-999-9999
   </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Your application status is currently pending and it will not change until we call you for the phone interview.
    </p>
    <br>
    <p>Thanks you for your patience! Have a nice day!!</p>
    <br>
    <br>
    <p>Sincerely,</p>
    <br>
    <p>The AdmiTron5000 Office</p>
    <hr>
    <p>AdmiTron5000e<br>
      9999 E 21th Street<br>
      New York, NY 12345<br>
      999-999-9999<br>
      Email: admin@admitron.com<br>
    </p>
  </body>
</html>