<div class="login" >
  <h3>Sign Up</h3>
  <%= form_for @student, url: signup_path do |form| %>
    <%= form.text_field :f_name, placeholder: 'First Name'%><br>
    <%= form.text_field :l_name, placeholder: 'Last Name' %><br>
    <%= form.telephone_field :phone_number, placeholder: 'Phone Number' %><br>
    <%= form.email_field :email, placeholder: 'Email' %><br>
    <%= form.password_field :password, placeholder: 'Password' %><br>
    <%= form.password_field :password_confirmation, placeholder: 'Confirm Password' %><br>
    <%= form.submit 'SIGN UP' %>
  <% end %>
</div>

