<div class="questionnaire" >

	<h1>In-Person Interview</h1>

<%= form_for [:instructors, @submission, @interview] do |f| %> 
	<%= f.label(:q1, %> 
		<% if @submission.course.subject == 'WDI' %> 
			<%= "What is your background?" %>
		<% elsif @submission.course.subject == 'UXI' %> 
				<%= "What is your design background?" %>
		<% elsif @submission.course.subject == 'PMI'%> 
				<%= "What is your management background?" %>
				<% end %>
	<% ) %>
	<%= label :q1, '1' %> 
	<%= f.radio_button(:q1, "1") %> 
		<%= label :q1, '2' %> 
	<%= f.radio_button(:q1, "2") %> 
		<%= label :q1, '3' %> 
	<%= f.radio_button(:q1, "3") %> 
		<%= label :q1, '4' %> 
	<%= f.radio_button(:q1, "4") %> 
		<%= label :q1, '5' %> 
	<%= f.radio_button(:q1, "5") %> <br>

	<%= f.label(:q2, %> 
		<% if @submission.course.subject == 'WDI' %> 
			<%= "Tell us about a time you had a complex problem and how you solved it." %>
		<% elsif @submission.course.subject == 'UXI' %> 
				<%= "How comfortable are you with HTML and CSS?" %>
		<% elsif @submission.course.subject == 'PMI'%> 
				<%= "How comfortable are you working with technical people?" %>
				<% end %>
	<% ) %>
	<%= label :q2, '1' %> 
	<%= f.radio_button(:q2, "1") %> 
		<%= label :q2, '2' %> 
	<%= f.radio_button(:q2, "2") %> 
		<%= label :q2, '3' %> 
	<%= f.radio_button(:q2, "3") %> 
		<%= label :q2, '4' %> 
	<%= f.radio_button(:q2, "4") %> 
		<%= label :q2, '5' %> 
	<%= f.radio_button(:q2, "5") %> <br>


	<%= f.label(:q3, %>
		<% if @submission.course.subject == 'WDI' %> 
			<%= "Tell us about a time you had to collaborate with a difficult team mate." %>
		<% elsif @submission.course.subject == 'UXI' %> 
				<%= "Tell us about a project you had to complete with a fast turn around." %>
		<% elsif @submission.course.subject == 'PMI'%> 
				<%= "Tell us about a time you had to collaborate with a difficult team mate." %>
				<% end %>
	<% ) %>
	<%= label :q3, '1' %> 
	<%= f.radio_button(:q3, "1") %> 
		<%= label :q3, '2' %> 
	<%= f.radio_button(:q3, "2") %> 
		<%= label :q3, '3' %> 
	<%= f.radio_button(:q3, "3") %> 
		<%= label :q3, '4' %> 
	<%= f.radio_button(:q3, "4") %> 
		<%= label :q3, '5' %> 
	<%= f.radio_button(:q3, "5") %> <br>


	<%= f.label(:q4,  %>
		<% if @submission.course.subject == 'WDI' %> 
			<%= "What are your career goals?" %>
		<% elsif @submission.course.subject == 'UXI' %> 
				<%= "What are your career goals?" %>
		<% elsif @submission.course.subject == 'PMI'%> 
				<%= "If you weren't interested in coding, what is your dream job?" %>
				<% end %>
	<% ) %>
	<%= label :q4, '1' %> 
	<%= f.radio_button(:q4, "1") %> 
		<%= label :q4, '2' %> 
	<%= f.radio_button(:q4, "2") %> 
		<%= label :q4, '3' %> 
	<%= f.radio_button(:q4, "3") %> 
		<%= label :q4, '4' %> 
	<%= f.radio_button(:q4, "4") %> 
		<%= label :q4, '5' %> 
	<%= f.radio_button(:q4, "5") %> <br>

	<%= f.label(:q5, "If you weren't interested in coding, what is your dream job?") %>  
		<%= label :q5, '1' %> 
	<%= f.radio_button(:q5, "1") %> 
		<%= label :q5, '2' %> 
	<%= f.radio_button(:q5, "2") %> 
		<%= label :q5, '3' %> 
	<%= f.radio_button(:q5, "3") %> 
		<%= label :q5, '4' %> 
	<%= f.radio_button(:q5, "4") %> 
		<%= label :q5, '5' %> 
	<%= f.radio_button(:q5, "5") %> <br>
	<%= f.label(:notes, "Notes") %> 
	<%= f.text_area(:notes) %> <br>

	<%= f.submit "Finish In-person Interview"%> 

	<% end %>

</div>

