<div class="questionnaire" >

	<h1>In-Person Interview</h1>

	<%= form_for [:instructors, @submission, @interview] do |f| %> 
		<%= f.label(:q1, %>
			<% if @submission.course.subject == 'WDI' %> 
				<%= "What is your background?" %>
			<% elsif @submission.course.subject == 'UXI' %> 
					<%= "What is your design background?" %>
			<% elsif @submission.course.subject == 'PMI'%> 
					<%= "What is your management background?" %>
					<% end %>
		<% ) %><br>
		<%= f.text_area(:q1) %> <br>

		<%= f.label(:q2, %> 
			<% if @submission.course.subject == 'WDI' %> 
				<%= "Tell us about a time you had a complex problem and how you solved it." %>
			<% elsif @submission.course.subject == 'UXI' %> 
					<%= "How comfortable are you with HTML and CSS?" %>
			<% elsif @submission.course.subject == 'PMI'%> 
					<%= "How comfortable are you working with technical people?" %>
					<% end %>
		<% ) %><br>
		<%= f.text_area(:q2) %> <br>


		<%= f.label(:q3, %>
			<% if @submission.course.subject == 'WDI' %> 
				<%= "Tell us about a time you had to collaborate with a difficult team mate." %>
			<% elsif @submission.course.subject == 'UXI' %> 
					<%= "Tell us about a project you had to complete with a fast turn around." %>
			<% elsif @submission.course.subject == 'PMI'%> 
					<%= "Tell us about a time you had to collaborate with a difficult team mate." %>
					<% end %>
		<% ) %><br>
		<%= f.text_area(:q3) %> <br>


		<%= f.label(:q4,  %>
			<% if @submission.course.subject == 'WDI' %> 
				<%= "What are your career goals?" %>
			<% elsif @submission.course.subject == 'UXI' %> 
					<%= "What are your career goals?" %>
			<% elsif @submission.course.subject == 'PMI'%> 
					<%= "If you weren't interested in coding, what is your dream job?" %>
					<% end %>
		<% ) %><br>
		<%= f.text_area(:q4) %> <br>

		<%= f.label(:q5, "If you weren't interested in coding, what is your dream job?") %> <br>
		<%= f.text_area(:q5) %>

		<%= f.label(:notes, "Notes") %> 
		<%= f.text_area(:notes) %>

		<%= f.submit %> 

	<% end %>

</div>

