<h1 class="results">Phone Screen Results</h1>
<p>Does the prospective student have critical thinking skills? <%= @submission.phonescreen.q1 %> </p>
<p>Are they comfortable with breaking down a problem? <%= @submission.phonescreen.q2 %> </p>
<p>How comfortable are you with learning technical language? <%= @submission.phonescreen.q3 %> </p>
<p>Are they willing to collaborate with others? <%= @submission.phonescreen.q4 %> </p>
<p>Will they adhere to the school's code of conduct? <%= @submission.phonescreen.q5 %> </p>
<p class="notes"> Notes: <%= @submission.phonescreen.notes %> </p>
