<h1 class="results">WDI Interview Results</h1>
<p>What is your background? <%= @submission.interview.q1 %> </p>
<p>Tell us about a time you had a complex problem and how you solved it. <%= @submission.interview.q2 %> </p>
<p>Tell us about a time you had to collaborate with a difficult team mate. <%= @submission.interview.q3 %> </p>
<p>What are your career goals? <%= @submission.interview.q4 %> </p>
<p>If you weren't interested in coding, what is your dream job? <%= @submission.interview.q5 %> </p>
<p class="notes"> Notes: <%= @submission.interview.notes %> </p>



