<div class="officer-student-info">
	<%= image_tag gravatar_url(@submission.student.email, '200x200'), :class => "gravatar" %>
	<h1 class="officer-show-name"><%= @submission.student.f_name %> <%= @submission.student.l_name %></h1>
	<p><strong>Course Applied to:</strong> <%= @submission.course.subject %></p>
	<p><strong>Status of Application:</strong> <%= @submission.status.capitalize %></p>
	<p><strong>Last updated:</strong> <%= @submission.updated_at.strftime('%m/%d/%y %I:%M %P') %></p>
</div>

<div class="view_type">
	<% if @submission.phonescreen %>  
		<%= render 'shared/genericquestionnaire' %> 
	<% end %> 

	<% if @submission.interview %> 
		<% if @submission.course.subject == 'WDI' %> 
				<%= render 'shared/wdiinperson' %> 
		<% elsif @submission.course.subject == 'UXI' %> 
				<%= render 'shared/uxiinperson' %> 
		<% elsif @submission.course.subject == 'PMI'%> 
				<%= render 'shared/pmiinperson' %> 
		<% end %> 		
	<% end %> 
</div>

<div class="submission-attachment"><%= @submission.render_attachment if @submission.has_attachment %>
</div>

<div class="instruct-officer-buttons"> 
	<% if session[:user_type] == 'Instructor' && @submission.status == 'pending-in-person' %> 
	  <a href="/instructors/submissions/<%= @submission.id %>/interviews/new"><button class="button button-primary">Start In-Person Interview</button></a>		
	<% elsif session[:user_type] == 'Officer' && @submission.status == 'pending-phone' %> 
	  <a href="/officers/submissions/<%= @submission.id %>/phonescreens/new"><button class="button button-primary">Start Phone Interview</button></a>		
	<% end %> 
</div>

