<h1 class="homepage-title">Learn Something New</h1>

<div class="homepage-button">
	<a href="/courses">View All Courses</a>
</div>

<div class="testimonials">
	<% @randoms.each do |random| %> 
		<div class="testimonial">
			<img class="reference" src="<%= random["user"]["picture"]["thumbnail"] %>">
			<blockquote>
		  	<q>
		  		We hired <%= FFaker::Name.first_name %> to help <%= FFaker::Company.bs %>
		  	</q>
		  <p>— <%= random["user"]["name"]["first"].capitalize %> <%= random["user"]["name"]["last"].capitalize %>, <%= FFaker::Company.name %>, <%= FFaker::Job.title %></p>
		</blockquote>
		</div>
	<% end %>
</div>



