<div class="video">
	<%= video_tag "123.mp4", :size => "500x500", :controls => true, :autobuffer => true, :autoplay => true, :loop => true, :id => "welcomevid" %> 
	<h1 class="video-text">Learn Something <span class="thousands">New</span></h1>
</div>

<div class="welcometext">
	<h1 class="thousands">Thousands </h1>
	<h1> of lives changed</h1>
	<h1>with the click of a button</h1>
	<a class="button button-primary" href="/courses">View All Courses</a>
		
</div>

<div class="testimonials">
	<% @randoms.each do |random| %> 
		<div class="testimonial">
			<img class="reference" src="<%= random["user"]["picture"]["thumbnail"] %>">
			<blockquote>
		  	<q>We hired <%= FFaker::Name.first_name %> to help <%= FFaker::Company.bs %>.</q/>
		  <p>— <%= random["user"]["name"]["first"].capitalize %> <%= random["user"]["name"]["last"].capitalize %>, <%= FFaker::Company.name %>, <%= FFaker::Job.title %></p>
		</blockquote>
		</div>
	<% end %>
</div>




