<h1><%= @course.subject %></h1>
<ul>
	<li>First Day of Class: <%= @course.start_date.strftime("%a, %b %e") %></li>
	<li>Last Day of Class: <%= @course.end_date.strftime("%a, %b %e") %></li>
	<li>Location: <%= @course.location %></li>
	<li>Price: $<%= '%.2f' % @course.price %></li>
</ul>

<a href="/courses/<%= @course.id %>/submissions/new">Apply Now</a>