<% if @course.subject == "WDI" %>
	<h1>Web Development Immersive</h1>
<% elsif  @course.subject == "PMI" %>
	<h1>Product Management Immersive</h1>
<% elsif  @course.subject == "UXI" %>
	<h1>User Experience Design Immersive</h1>
<% end %>

	


	First Day of Class: <%= @course.start_date.strftime("%a, %b %e") %>
	Last Day of Class: <%= @course.end_date.strftime("%a, %b %e") %>
	Location: <%= @course.location %>
	Price: $<%= number_with_precision(@course.price, :precision => 2, :delimiter => ',') %>


<a class="button button-primary" href="/courses/<%= @course.id %>/submissions/new">Apply Now</a>